
 

<ol style="display:flex;justify-content:center;background-color:#ff8db4;padding:1vw 0;width:auto;margin:0;"
><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
><h1 style="font-family:verdana,sans-serif;font-size:2.5vw;font-style:italic;font-weight:bold;color:#ff8db4;"
>Become a Partner</h1><p style="font-family:verdana,sans-serif;font-size:1.2vw;color:black;padding:0 0 1em 0;"
>Show me some extra support by creating an account with my special link. Here's how you can do that:</p
><ol style="font-family:verdana,sans-serif;font-size:1.2vw;line-height:1.2vw;background-color:whitesmoke;color:black;padding:0em 1em;margin:0;"
><li style="padding:0;margin:0;">Hightlight and copy the following link:</li
><p style="padding:0.4em 0;margin:0;">https://chaturbate.com/in/?tour=LQps&campaign=54xEf&track=default&room=valerie_james3</li
><li style="padding:0;margin:0;">Open an incognito or private viewing window"</li
><li style="padding:0;margin:0;">Paste the URL into the incognito window</li
><li style="padding:0;margin:0;">Click or tap the orange "Sign up" button in the top right corner</li
><li style="padding:0;margin:0;">Create your new account</li
></ol><p style="font-size:1.2vw;color:black;padding:1em 0 0 0;margin:0;">Whenever you purchase and use tokens with this new account, I will receive 20% of that purchase. This helps me so much! Thank you!</p
></ul></ol>



 

<ol style="display:flex;justify-content:center;background-color:#ff8db4;padding:1vw 0;width:auto;margin:0;"
><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
><h1 style="font-family:verdana,sans-serif;font-size:2.5vw;font-style:italic;font-weight:bold;color:#ff8db4;"
>Become a Partner</h1><p style="font-family:verdana,sans-serif;font-size:1.2vw;color:black;padding:0 0 1em 0;"
>Show me some extra support by creating an account with my special link. Here's how you can do that:</p
><ol style="font-size:1.2vw;background-color:whitesmoke;color:black;padding:0em 1em;margin:0;"
><li style="padding:0;margin:0;">Right click or tap and hold on the Chaturbate image below</li
><li style="padding:0;margin:0;">Choose "Open link in an incognito window"</li
><li style="padding:0;margin:0;">The Chaturbate home page will open</li
><li style="padding:0;margin:0;">Click or tap the orange "Sign up" button in the top right corner</li
><li style="padding:0;margin:0;">Create your new account.</li
></ol
><p style="padding:0.5em;"><a href="https://chaturbate.com/in/?tour=LQps&campaign=54xEf&track=default&room=valerie_james3" target="_blink" rel="nofollow"
><img style=”width:8vw;height:4vw;” src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Chaturbate_logo.svg/774px-Chaturbate_logo.svg.png?20220102033446" /></a
></p><p style="padding:0 0 0.6em 0;"><a style="text-decoration:none;"
href="https://chaturbate.com/in/?tour=LQps%26campaign=54xEf%26track=default%26room=valerie_james3"><span
style="color:#ff8db4;font-size:1.2vw;">or right click on this link</span></a></p><p style="font-size:1.2vw;color:black;padding:0;margin:0;">Whenever you purchase and use tokens with this new account, I will receive 20% of that purchase. This helps me so much! Thank you!</p
></ul></ol>


