

<ol style="display;flex;justify-content:center;background-color:pink;padding:1vw 0;width:50vw;margin:0;"
><ul style="background-color:whitesmoke;padding:0;width:90%;margin:0 auto;padding:1vw 1vw;"
><ul style="display:block;padding:0;margin:0;background-color:whitesmoke;"
><h1 style="font-size:4vw;font-style:italic;color:deeppink;font-weight:bold;text-align:center;padding:0.5em 0em;margin:0;"
>A Little Bit About Valerie</h1><ul style="display:flex;flex-flow:row nowrap;background-color:rgb(247, 223, 226);padding:0;">
<ul style="width:calc(100%/13*1);text-align:center;background-color:rgb(247, 223, 226);color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;"> </ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:rgb(247, 223, 226);color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Age</ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:rgb(247, 223, 226);color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Height</ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:rgb(247, 223, 226);color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Weight</ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:rgb(247, 223, 226);color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Feet</ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:rgb(247, 223, 226);color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Bra Size</ul>
</ul
><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;">
<ul style="width:calc(100%/13*1);text-align:center;background-color:rgb(247, 223, 226);color:black;font-weight:bold;padding:0.2em;margin 0 auto;">US</ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">23</ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">5'1"</ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">95lbs</ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">6</ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">32D</ul></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0; ">
<ul style="width:calc(100%/13*1);text-align:center;background-color:rgb(247, 223, 226);color:black;font-weight:bold;padding:0.2em;margin 0 auto;">EU</ul><ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black; padding:0.2em;margin 0 auto;"> </ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">155cm</ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">43kg</ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">36</ul>
<ul style="width:calc(100%/13*2);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">70D</ul></ul
><p style="text-align:center;padding:0;margin:0;line-height:90%;"><span style="font-size:10px;font-style:italic;color:black;">~~~~</span></p
></ul></ol>

