<div class="data">
    <p>
    <ul rel="nofollow"
        style="display: block;background-color: hsl(282, 81%, 32%);width: auto; height: auto;padding: 2rem;font-family:Monospace,Fantasy;font-size: large;font-weight: 600;color: rgb(0, 0, 0);"
        target="_blank">
        <ul rel="nofollow"
            style="margin: auto;padding:0px;margin-top:1rem;background-color: rgb(14, 197, 210);border-radius: 1rem;padding: 1rem;padding-top: 0.1rem;padding-bottom: 0.5rem;"
            target="_blank">
            <h2 rel="nofollow"
                style="text-align: center;font-size: 25px;border-bottom: 1px solid black;padding-bottom: 1rem;"
                target="_blank">Hello Lovelies!</h2>
            <p rel="nofollow" target="_blank">My name is Ellie and I hope you enjoy your time with me :)</p>
            <p rel="nofollow" target="_blank">I love being in nature, reading, playing video games, and spending time
                with my fiancé and our pets. I get a lot of enjoyment out of camming here, so let's have fun together!!
            </p>
            <p rel="nofollow" target="_blank">~There are no nudes on my Instagram or Twitter and there never will be.
                For nude photos and fun videos, get my Snap and Fansly.~</p>
        </ul>
        <ul rel="nofollow"
            style="margin: auto;padding:0px;margin-top:1rem;background-color: rgb(14, 197, 210);border-radius: 1rem;padding: 1rem;padding-top: 0.1rem;padding-bottom: 0.5rem;"
            target="_blank">
            <h2 rel="nofollow"
                style="text-align: center;font-size: 25px;border-bottom: 1px solid black;padding-bottom: 1rem;"
                target="_blank">My Links</h2>
            <ul rel="nofollow" style="display: flex;margin: auto;padding:0px;flex-wrap: wrap;" target="_blank"> <a
                    href="/external_link/?url=https%3A%2F%2Fwww.instagram.com%2Fellie_jane420%2F" rel="nofollow"
                    style="background-color: blueviolet;padding: 1.5rem;border-radius: 1rem;margin: auto;color:rgb(14, 197, 210);"
                    target="_blank">Instagram</a> <a
                    href="/external_link/?url=https%3A%2F%2Ftwitter.com%2Flovelyjane420%2F" rel="nofollow"
                    style="background-color: blueviolet;padding: 1.5rem;border-radius: 1rem;margin: auto;color:rgb(14, 197, 210);"
                    target="_blank">Twitter</a> <a href="/external_link/?url=https%3A%2F%2Ffans.ly%2Fr%2Felliejane420"
                    rel="nofollow"
                    style="background-color: blueviolet;padding: 1.5rem;border-radius: 1rem;margin: auto;color:rgb(14, 197, 210);"
                    target="_blank">Fansly</a> <a href="/external_link/?url=https%3A%2F%2Fcash.app%2F%24ellie420jane"
                    rel="nofollow"
                    style="background-color: blueviolet;padding: 1.5rem;border-radius: 1rem;margin: auto;color:rgb(14, 197, 210);"
                    target="_blank">Cash app</a> <a href="/external_link/?url=https%3A%2F%2Fthrone.com%2Felliejane420"
                    rel="nofollow"
                    style="background-color: blueviolet;padding: 1.5rem;border-radius: 1rem;margin: auto;color:rgb(14, 197, 210);"
                    target="_blank">wishlist</a> <a href="/external_link/?url=https%3A%2F%2Fbeacons.ai%2Felliejane"
                    rel="nofollow"
                    style="background-color: blueviolet;padding: 1.5rem;border-radius: 1rem;margin: auto;color:rgb(14, 197, 210);"
                    target="_blank">Beacons</a> </ul>
        </ul>
        <ul rel="nofollow"
            style="margin: auto;padding:0px;margin-top:1rem;padding-bottom: 1rem;background-color: rgb(14, 197, 210);border-radius: 1rem;padding: 1rem;padding-top: 0.1rem;padding-bottom: 0.5rem;"
            target="_blank">
            <h2 rel="nofollow"
                style="text-align: center;font-size: 25px;border-bottom: 1px solid black;padding-bottom: 1rem;"
                target="_blank">My Info</h2>
            <ul rel="nofollow" style="display: flex;margin: auto;padding:0px;flex-wrap: wrap;" target="_blank">
                <ul rel="nofollow" target="_blank">
                    <h3 rel="nofollow" target="_blank">BIO:</h3>
                    <li rel="nofollow" target="_blank">Birthday: 03/21/1994</li>
                    <li rel="nofollow" target="_blank">Astrological sign: Pisces Aries cusp</li>
                    <li rel="nofollow" target="_blank">Eye color: Green</li>
                    <li rel="nofollow" target="_blank">Height: 5'2" | 157.48 cm</li>
                    <li rel="nofollow" target="_blank">Weight: 96 lbs | 43.5 kg</li>
                    <li rel="nofollow" target="_blank">Shoe size: 7 (sometimes 6)</li>
                    <li rel="nofollow" target="_blank">Sexuality: Bisexual (yes, really)</li>
                    <li rel="nofollow" target="_blank">Favorite colors: Purple &amp; blue</li>
                </ul>
                <ul rel="nofollow" target="_blank">
                    <h3 rel="nofollow" target="_blank">Hobbies:</h3>
                    <ul rel="nofollow" target="_blank">
                        <li rel="nofollow" target="_blank">Video games</li>
                        <li rel="nofollow" target="_blank">Reading</li>
                        <li rel="nofollow" target="_blank">Art</li>
                        <li rel="nofollow" target="_blank">Rockhounding</li>
                    </ul>
                </ul>
            </ul>
        </ul>
        <ul rel="nofollow"
            style="margin: auto;padding:0px;margin-top:1rem;background-color: rgb(14, 197, 210);border-radius: 1rem;padding: 1rem;padding-top: 0.1rem;padding-bottom: 0.5rem;"
            target="_blank">
            <h2 rel="nofollow"
                style="text-align: center;font-size: 25px;border-bottom: 1px solid black;padding-bottom: 1rem;"
                target="_blank">My wish-list</h2>
            <p rel="nofollow" target="_blank">Has fun toys for us to play with together on stream ;) and lots of cute
                gifts I would really enjoy.</p>
            <p rel="nofollow" target="_blank">My wish is to have a whole collection of fun toys &lt;3</p>
            <h3 rel="nofollow" target="_blank">Thank you to:</h3>
            <ul rel="nofollow" target="_blank">
                <li rel="nofollow" target="_blank">Ac2243 for my Lush 3 and blue Tentacle dildo! I Love them!</li>
                <li rel="nofollow" target="_blank">Thatfunone15 for my Domi 2! Wow, feels amazing!</li>
                <li rel="nofollow" target="_blank">Johnnyjohn199 for my purple Tentacle dildo! It is HUGE!</li>
                <li rel="nofollow" target="_blank">Marcopolo318 for my 6 inch dildo! He feels great!</li>
            </ul>
        </ul>
        <ul rel="nofollow"
            style="margin: auto;padding:0px;margin-top:1rem;background-color: rgb(14, 197, 210);border-radius: 1rem;padding: 1rem;padding-top: 0.1rem;padding-bottom: 0.5rem;"
            target="_blank">
            <h2 rel="nofollow"
                style="text-align: center;font-size: 25px;border-bottom: 1px solid black;padding-bottom: 1rem;"
                target="_blank">HIGHEST TIPPERS</h2>
            <ul rel="nofollow" style="display: flex;margin: auto;padding:0px;flex-wrap: wrap;flex-direction: row;"
                target="_blank">
                <ul rel="nofollow" style="display: flex;margin: 0;padding:0px;flex-wrap: wrap;flex-direction: column;"
                    target="_blank">
                    <p rel="nofollow" style="margin: 0" target="_blank">❤️‍🔥Dirtywatah617❤️‍🔥</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">❤️‍🔥Ac2243❤️‍🔥</p>
                </ul>
                <ul rel="nofollow" style="display: flex;margin: 0;padding:0px;flex-wrap: wrap;flex-direction: column;"
                    target="_blank">
                    <p rel="nofollow" style="margin: 0" target="_blank">💜Scpoawsw💜</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">💜Jammin2222💜</p>
                </ul>
                <ul rel="nofollow" style="display: flex;margin: 0;padding:0px;flex-wrap: wrap;flex-direction: column;"
                    target="_blank">
                    <p rel="nofollow" style="margin: 0" target="_blank">💙_the_dude_42💙</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">💙Mroutdoorsy💙</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">💙Turtleneck130💙</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">💙Luckycard💙</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">💙Cynerthesaint💙</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">💙Binksak3💙</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">💙Powforlife💙</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">💙Franks_91_💙</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">💙Wegmond💙</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">💙Funnybear75💙</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">💙Bigterry77💙</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">💙Mansketti💙</p>
                    <p rel="nofollow" style="margin: 0" target="_blank">💙Anubisrex💙</p>
                </ul>
            </ul>
        </ul>
        <ul rel="nofollow"
            style="margin: auto;padding:0px;margin-top:1rem;background-color: rgb(14, 197, 210);border-radius: 1rem;padding: 1rem;padding-top: 0.1rem;padding-bottom: 0.5rem;"
            target="_blank">
            <h2 rel="nofollow"
                style="text-align: center;font-size: 25px;border-bottom: 1px solid black;padding-bottom: 1rem;"
                target="_blank">!OBS!</h2>
            <p rel="nofollow" target="_blank">I don't give out my phone number, real name, location or do meet-ups. This
                is for my own safety and peace of mind. I do not make exceptions, no matter what. Don't worry, it's not
                personal. Roleplaying about meeting up and having fun is A-Okay! But please be mindful that this is just
                roleplay and not real.</p>
        </ul>
    </ul>
    </p>
</div>