<ol><ol style="width:44vw;font-size:1.2vw;line-height:1.4vw;"> 

    
    <ol style="display:flex;justify-content:center;background-color:#ff8db4;padding:1vw 0;width:auto;margin:0;border-radius:1vw;"
    ><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;border-radius:1vw;"
    ><ul style="padding:0;margin:0;background-color:whitesmoke;"
    ><h1 style="font-family:verdana,sans-serif;font-size:2.5vw;font-style:italic;font-weight:bold;color:#ff8db4;text-align:left;padding:0.5em 0em;margin:0;"
    >A Little Bit About Me <span style="font-style:normal">🌺</span></h1> <ul 
    style="display:block;padding:0;margin:0 auto;"><ul
    style="display:flex;flex-flow:row nowrap;padding:0;margin:0 auto;"><ul 
    style="font-family:verdana,sans-serif;width:calc(100%/11);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;"> </ul><ul 
    style="font-family:verdana,sans-serif;width:calc(100%/11*2);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;border-bottom:2px solid #ff8db4;">Height</ul><ul 
    style="font-family:verdana,sans-serif;width:calc(100%/11*2);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;border-bottom:2px solid #ff8db4;">Weight</ul><ul 
    style="font-family:verdana,sans-serif;width:calc(100%/11*2);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;border-bottom:2px solid #ff8db4;">Feet</ul><ul 
    style="font-family:verdana,sans-serif;width:calc(100%/11*2);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;border-bottom:2px solid #ff8db4;">Bra Size</ul></ul
    ><ul
    style="font-family:verdana,sans-serif;display:flex;flex-flow:row nowrap;padding:0;margin:0 auto;"><ul 
    style="font-family:verdana,sans-serif; width:calc(100%/11);text-align:center;border-right:2px solid #ff8db4;color:black;font-weight:bold;padding:0.2em;margin 0 auto;">US</ul><ul 
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">5'1"</ul><ul 
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">95lbs</ul><ul 
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">6</ul><ul 
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">32D</ul></ul><ul 
    style="display:flex;flex-flow:row nowrap;padding:0;"><ul 
    style="font-family:verdana,sans-serif; width:calc(100%/11);text-align:center;border-right:2px solid #f9429e;color:black;font-weight:bold;padding:0.2em;margin 0 auto;">EU</ul><ul 
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">155cm</ul><ul 
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">43kg</ul><ul 
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">36</ul><ul 
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">70D</ul></ul
    ></ul> </ul></ul></ol>
    
    
    

    <ol style="display:flex;justify-content:center;background-color:#ff8db4;padding:1vw 0;width:auto;margin:0;"
    ><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
    ><h1 style="font-family:verdana,sans-serif;font-size:2.5vw;font-style:italic;font-weight:bold;color:#ff8db4;"
    >Tip Menu <span style="font-style:normal;">✨</span></h1><ul 
    style="max-height:14vw;overflow:auto;margin:0;padding:0;background-color:#ffe6ea;border:1px solid #ff8db4;"
    ><ul style="font-family:verdana,sans-serif;line-height:1.2vw;list-style-type:none;color:black;padding:0.4vw 0 0.4vw 2vw;margin:0"><li
        >&nbsp;&nbsp;10 - Say "Hi!" 😄</li><li
        >&nbsp;&nbsp;13 - Answer a vanilla question</li><li
        >&nbsp;&nbsp;22 - Don't stop</li><li
        >&nbsp;&nbsp;25 - Tell me I'm beautiful 💋</li><li  
        >&nbsp;&nbsp;30 - Spank x1</li><li  
        >&nbsp;&nbsp;31 - Answer a sexy question</li><li
        >&nbsp;&nbsp;33 - Skip song 👎</li><li
        >&nbsp;&nbsp;40 - Play your choice of song 🎹</li><li
        >&nbsp;&nbsp;<span style="background-color:#f4bbff;">50 - Tell me I'm hot 🔥</span></li><li
        >&nbsp;&nbsp;66 - Drink water  </li><li
        >&nbsp;&nbsp;68 - Socks onoff  </li><li
        >&nbsp;&nbsp;70 - Show legs </li><li
        >&nbsp;&nbsp;72 - Glasses on/off 👓</li><li
        >&nbsp;&nbsp;77 - Fap tax  </li><li
        >&nbsp;&nbsp;85 - Show feet </li><li
        >&nbsp;&nbsp;88 - Boob play (hands over top) </li><li
        >&nbsp;&nbsp;<span style="background-color: #8dffd8;">99 - PM you 🤫</span></li><li
        >&nbsp;100 - Appreciation for my stream</li><li
        >&nbsp;125 - Show you my panties</li><li
        >&nbsp;221 - Show booty</li><li
        >&nbsp;222 - Show boobs </li><li
        >&nbsp;<span style="background-color: #ffb788;">251 - My favorite vibration 💓</span></li><li
        >&nbsp;299 - Dick rate (1-10 + paragraph)</li><li 
        >&nbsp;321 - Buy me a drink 🍸</li><li
        >&nbsp;331 - Grind on pillow </li><li
        >&nbsp;332 - Boob play </li><li
        >&nbsp;333 - Control my Lush/Domi (1 min)</li><li
        >&nbsp;334 - Oil + massage boobs/butt/legs/feet</li><li
        >&nbsp;369 - Rub pussy over panties</li><li
        >&nbsp;400 - Dildo blowjob</li><li
        >&nbsp;469 - Play with pussy under panties</li><li
        >&nbsp;567 - Buy me dinner 🍔</li><li
        > <li
    ></ul></ul></ul></ol>
    
     
 
    
    
    <ol style="display;flex;justify-content:center;background-color:#ff8db4;padding:1vw 0;width:auto;margin:0;"
    ><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
    ><h1 style="font-family:verdana,sans-serif;font-size:2.5vw;font-style:italic;font-weight:bold;color:#ff8db4;"
    > <span style="font-style:normal;">📚</span></h1><p style="font-family:verdana,sans-serif;color:black;padding:0.4vw 0;"
    >Please don't ask where I'm from.  Borders are merely a  geopolitical invention..</p></ul></ol>
             
    
    
    <ol style="display:flex;justify-content:center;background-color:#ff8db4;padding:1vw 0;width:auto;margin:0;"
    ><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
    ><h1 style="font-family:verdana,sans-serif;font-size:2.5vw;font-style:italic;font-weight:bold;color:#ff8db4;"
    >Wish List <span style="font-style:normal;">🛍️</span></h1><p style="font-family:verdana,sans-serif;color:black;padding:0.4vw 0;"
    >Some of you have asked if I have a wishlist. I do.  You can find my list on Amazon.</p><p 
    style="font-family:verdana,sans-serif;color:black;padding:0.4vw 0;"><a style="text-decoration:none;" href="https://www.amazon.com/hz/wishlist/ls/31NZL4O6XUUUR?ref_=wl_share"><span style="font-family:verdana,sans-serif;color:#ff8db4;font-weight:bold;">My Amazon Wishlist</span></a></p></ul></ol>
    

     
    </ol></ol>
