<h1 style="color:darkyellow;font-weight:bold;">IMPORTANT NOTE</h1><ul style="background-color:lightgray;padding:0;">
<li style="color:black;">Before you edit your page to add any of these hunks of code, consider copy-and-pasting ALL of the code from your page and saving it in elsewhere as a backup.</li><li style="color:black;">If you're on a Mac, you can use TextEdit as a place to paste your page's code for safe-keeping.  BUT, before doing so,  go to File &gt; &quot;Ignore rich content commands in HTML files&quot;.</i><li style="color:black;">If you don't do this, TextEdit can make changes to the characters and mess up your code</li>
</ul>
 
<h2 style="color:deeppink;">Tasks for V</h2
><ol style="border:2px deeppink dotted;">

<li>Maybe create a backup account in which to experiment without ruining primary page, or to backup your page</li>

<li>Or google and download a 'plain text editor" for your Mac. (TextEdit can alter characters like quotes and stuff,  causing problems with HTML.)</li>

<li>Change style on RULTA image to <span="font-family:monospace;">style="width:36em;"</span> being sure to remove the height portion of the style.</li>

<li>Let's try again with the affiliate link block (see below.)  I changed the source of the image and added a plain old link.  Try it, and have me test it.  (I tested the copy-and-paste to my taptapisthison account and it works.)</li>

<li>Visit your page as a visitor at chaturbate.com/valerie_james3 to ensure that it looks right.  The editor's preview feature doesn't look quite the same.  so this is the final test.</li>

<li>If it doesn't look right, delete the offending block, and send me a nasty message.</li>

<li>Meanwhile, I'll work on a more complete solution.</li>

<li>Create some artsy images with your camera or whatever</li>

<li>Pretend you don't miss me.</li>

</ol>


 

<ul style="border:1px gray solid;"><p>V writes 

&quot;I would like to get the intro ("Welcome to..."), Privates, and Book Club info into a block, maybe white with a pink border.  All together.

I want the widths of each portion to be as uniform as possible

Please 🙏

Titles in bold pink, descriptions in black 12-14 font size

Maybe titles in 14 bold, descriptions in 12?&quot;
</p></ul>


<ul style="border:2px lightgrey solid;padding:1em 1em;width:38em;"><p style="background-color:lightgrey;color:black;"> I like the following block that describes how to use the affiliate link -- and the link works properly.  But to use this on your own page, you have to insert your own affiliate link.  And that link has to have all of the ampersands (&) encoded properly or Chaturbate will choke on it.</p>


<ol style="background-color:pink;padding:1em 1em;margin-bottom:1em;width:36em;"
><ul style="background-color:whitesmoke;padding:0.2em 1em;border:1px whitesmoke solid;"
><p style="color:black;padding:0 0 1em 0;"
>Show me some extra support by creating an account with my special link. Here's how you can do that:</p
><ol style="background-color:whitesmoke;color:black;padding:0em 1em;margin:0;"
><li style="padding:0;margin:0;">Right click or tap and hold on the Chaturbate image below</li
><li style="padding:0;margin:0;">Choose "Open link in an incognito window"</li
><li style="padding:0;margin:0;">The Chaturbate home page will open</li
><li style="padding:0;margin:0;">Click or tap the orange "Sign up" button in the top right corner</li
><li style="padding:0;margin:0;">Create your new account.</li
></ol
><p style="padding:0.5em;"><a href="https://www.chaturbate.com/in/?tour=7Bge&campaign=MX6G2&room=valerie_james3" target="_blink" rel="nofollow"
><img style=”width:128px;height:32px;” src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Chaturbate_logo.svg/774px-Chaturbate_logo.svg.png?20220102033446" /></a
></p><p style="padding:0 0 0.6em 0;"><a style="text-decoration:none;"  href="https://www.chaturbate.com/in/?tour=7Bge&campaign=MX6G2&room=valerie_james3"><span
                style="color:deeppink;">or right click on this link</span></a></p><p style="color:black;padding:0;margin;0;">Whenever you purchase and use tokens with this new account, I will receive 20% of that purchase. This helps me so much! Thank you!</p
></ul></ol>


 <p style="background-color:gray;color:black;font-family:fixed">



&lt;ol style="background-color:pink;padding:1em 1em;margin-bottom:1em;width:36em;"
>&lt;ul style="background-color:whitesmoke;padding:0.2em 1em;border:1px whitesmoke solid;"
>&lt;p style="color:black;padding:0 0 1em 0;"
>Show me some extra support by creating an account with my special link. Here's how you can do that:&lt;/p
>&lt;ol style="background-color:whitesmoke;color:black;padding:0em 1em;margin:0;"
>&lt;li style="padding:0;margin:0;">Right click or tap and hold on the Chaturbate image below&lt;/li
>&lt;li style="padding:0;margin:0;">Choose "Open link in an incognito window"&lt;/li
>&lt;li style="padding:0;margin:0;">The Chaturbate home page will open&lt;/li
>&lt;li style="padding:0;margin:0;">Click or tap the orange "Sign up" button in the top right corner&lt;/li
>&lt;li style="padding:0;margin:0;">Create your new account.&lt;/li
>&lt;/ol
>&lt;p style="padding:0.5em;">&lt;a href="https://www.chaturbate.com/in/?tour=7Bge&campaign=MX6G2&room=valerie_james3" target="_blink" rel="nofollow"
>&lt;img style=”width:128px;height:32px;” src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Chaturbate_logo.svg/774px-Chaturbate_logo.svg.png?20220102033446" />&lt;/a
>&lt;/p>&lt;p style="padding:0 0 0.6em 0;">&lt;a style="text-decoration:none;"
            href="https://www.chaturbate.com/in/?tour=7Bge&campaign=MX6G2&room=valerie_james3">&lt;span
                style="color:deeppink;">or right click on this link&lt;/span>&lt;/a>&lt;/p>&lt;p style="color:black;padding:0;margin;0;">Whenever you purchase and use tokens with this new account, I will receive 20% of that purchase. This helps me so much! Thank you!&lt;/p
>&lt;/ul>&lt;/ol>
   
</p></ul>


<ol style="border:2px cyan solid;width:38em;">

<br/>
<p style="background-color:cyan;color:black; padding:1em 1em;margin:1em;">Here's a way you might do your schedule.  We can make the "descriptions/topics" be a third column if you like so that things line up more nicely.  Do you like the rounded corners, or do you prefer sharp ones?  You never said what colors you want.</p>
<br/>

<ol style="display:block;width:36em;padding:0;margin:0;background-color:pink;">
    <p style="font-style:italic;width:36em;color:black;font-weight:bold;text-align:center;padding:0.2em 0em;margin:0 0 0.7em 0;"
        ><span style="font-size:20px;">Valerie's Schedule for Jun 4 - Jun 10</span></p
     ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Sunday</ul
        ><ul
            style="width:calc(100%/10*8); background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >6pm-1am &mdash; Let's inventory my toys!</ul

    ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Monday</ul
        ><ul
            style="width:calc(100%/10*8);background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >6pm-1am &mdash; Short skirts and nylons</ul
   
        ></ul

    ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Tuesday</ul
        ><ul
            style="width:calc(100%/10*8);background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >Offline &mdash; A girl's gotta get her rest</ul
   
        ></ul
            
    ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Wednesday</ul
        ><ul
            style="width:calc(100%/10*8);background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >Offline &mdash; Doesn't mean I'm not thinking about you</ul
   
        ></ul
            
    ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Thursday</ul
        ><ul
            style="width:calc(100%/10*8);background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >6pm-1am &mdash; Book Club.  Are you caught up?</ul
    
        ></ul
            
    ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Friday</ul
        ><ul
            style="width:calc(100%/10*8);background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >6pm-1am &mdash; LBD and Strappy Heels (a fan favorite)</ul
    
        ></ul
            
    ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Saturday</ul
        ><ul
            style="width:calc(100%/10*8);background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >Offline &mdash; See ya tomorrow?  Maybe?</ul
    
        ></ul

    ><p style="text-align:center;padding:0;margin:0;line-height:90%;"><span style="font-size:10px;font-style:italic;color:black;">Schedule subject to change. Check back often. All times Pacific</span></p
        
    ></ol>

<p style="background-color:lightgray;color:black;padding:1em;font-family:monospace;">
Here's the code for the schedule block.  I think you can figure out where the text is that needs to be updated as your schedule changes.

&lt;ol style="display:block;width:36em;padding:0;margin:0;background-color:pink;">
    &lt;p style="font-style:italic;width:36em;color:black;font-weight:bold;text-align:center;padding:0.2em 0em;margin:0 0 0.7em 0;"
        >&lt;span style="font-size:20px;">Valerie's Schedule for Jun 4 - Jun 10&lt;/span>&lt;/p
     >&lt;/ul>&lt;ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        >&lt;ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Sunday&lt;/ul
        >&lt;ul
            style="width:calc(100%/10*8); background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >6pm-1am &mdash; Let's inventory my toys!&lt;/ul

    >&lt;/ul>&lt;ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        >&lt;ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Monday&lt;/ul
        >&lt;ul
            style="width:calc(100%/10*8);background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >6pm-1am &mdash; Short skirts and nylons&lt;/ul
   
        >&lt;/ul

    >&lt;/ul>&lt;ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        >&lt;ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Tuesday&lt;/ul
        >&lt;ul
            style="width:calc(100%/10*8);background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >Offline &mdash; A girl's gotta get her rest&lt;/ul
   
        >&lt;/ul
            
    >&lt;/ul>&lt;ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        >&lt;ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Wednesday&lt;/ul
        >&lt;ul
            style="width:calc(100%/10*8);background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >Offline &mdash; Doesn't mean I'm not thinking about you&lt;/ul
   
        >&lt;/ul
            
    >&lt;/ul>&lt;ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        >&lt;ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Thursday&lt;/ul
        >&lt;ul
            style="width:calc(100%/10*8);background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >6pm-1am &mdash; Book Club.  Are you caught up?&lt;/ul
    
        >&lt;/ul
            
    >&lt;/ul>&lt;ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        >&lt;ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Friday&lt;/ul
        >&lt;ul
            style="width:calc(100%/10*8);background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >6pm-1am &mdash; LBD and Strappy Heels (a fan favorite)&lt;/ul
    
        >&lt;/ul
            
    >&lt;/ul>&lt;ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        >&lt;ul
            style="width:calc(100%/10*2);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Saturday&lt;/ul
        >&lt;ul
            style="width:calc(100%/10*8);background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
            >Offline &mdash; See ya tomorrow?  Maybe?&lt;/ul
    
        >&lt;/ul

    >&lt;p style="text-align:center;padding:0;margin:0;line-height:90%;">&lt;span style="font-size:10px;font-style:italic;color:black;">Schedule subject to change. Check back often. All times Pacific&lt;/span>&lt;/p
        
    >&lt;/ol>


</p>

</ol>









<p>This was my first attempt at a schedule block, but I think it would be too annoying to keep up to date for reasons.  Let me know if you prefer this version, though.</p>

<ol style="display:block;width:36em;padding:0;margin:0;background-color:pink;">
    <p style="font-style:italic;width:36em;color:black;font-weight:bold;text-align:center;padding:0.2em 0em;margin:0;"
        ><span style="font-size:20px;">Valerie's Schedule for Jun 4 - Jun 10</span></p
    ><ul style="display:flex;flex-flow:row nowrap;background-color:pink;padding:0;"
        ><ul
            style="width:calc(100%/3);text-align:center;color:black;;font-weight:bold;padding:0;margin 0 auto;"
            ></ul
        ><ul
            style="width:calc(100%/3);text-align:center;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Start Approx</ul
        ><ul
            style="width:calc(100%/3);text-align:center;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Stop Approx</ul
    ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="text-align:center;width:calc(100%/3);background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Sunday</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >6pm PDT</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >1am PDT</ul
    ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Monday</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >6pm PDT</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >1am PDT</ul

    ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Tuesday</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >6pm PDT</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >1am PDT</ul

    ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Wednesday</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >6pm PDT</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >1am PDT</ul

    ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Thursday</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >6pm PDT</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >1am PDT</ul

    ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Friday</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >6pm PDT</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >1am PDT</ul

    ></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0;margin 0 auto;"
            >Saturday</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >6pm PDT</ul
        ><ul
            style="width:calc(100%/3);text-align:center;background-color:whitesmoke;color:black;padding:0;margin 0 auto;"
            >1am PDT</ul

        ></ul></ol>




<!--
## Testing the RULTA image
-->
<h1>That RULTA Image link</h1>
<a href="https://www.rulta.com/" rel="nofollow" target="_blank"><img rel="nofollow" src="https://rulta-images.s3.amazonaws.com/rulta-dmca-badge-1.jpg" style="width:36em;" target="_blank">
</a>

<p style="background-color:lightgray;color:black;padding:1em;font-family:monospace;">
Here's the code for the link to Rulta, with the change highlighted:<br/>
&lt;a href="/external_link/?url=https://www.rulta.com/" rel="nofollow" target="_blank">&ltimg rel="nofollow" src="https://rulta-images.s3.amazonaws.com/rulta-dmca-badge-1.jpg" <span style="background-color:yellow;">style="width:25%;height:25%;"</span> target="_blank">
&lt;/a>
</p>
<!--
   ##  Affiliate Link that's an actual link.  
   ## specify to open the link in an incognito window
   ## Got this from Littlemiss_Kira's page
   ## The trick is to change all & to &amp; in the URL
   ## I also think the instruction to open it in an incognito window is nice and clear to most people.  It avoids the "log out' step.
-->
<br/>
 
<!--
##  VALERIE DETAILS INTERNATIONAL
-->
<ul style="border:2px solid darkgray;">

<p>Here's a way to display your details in an international manner.  The code follows the sample, and the code has been tested.  You should be able to copy-and-paste it right into your page.  Just, you know, be careful.</p>


<ol style="display:block;width:36em;padding:0;margin:0;background-color:pink;"
><p style="font-style:italic;width:36em;color:black;font-weight:bold;text-align:center;padding:0.5em 0em;margin:0;"><span style="font-size:20px;">A Little Bit About Valerie</span></p><ul style="display:flex;flex-flow:row nowrap;background-color:pink;padding:0;width:36em;">
<ul style="width:calc(100%/6);text-align:center;background-color:darkpink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">&nbsp;</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Age</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Height</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Weight</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Feet</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Bra&nbsp;Size</ul>
</ul
><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;width:36em;">
<ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0.2em;margin 0 auto;">US</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">23</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">5'1&quot;</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">95lbs</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">6</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">32D</ul></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;width:36em;">
<ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0.2em;margin 0 auto;">EU</ul><ul style="width:6em;text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">&nbsp;</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">155cm</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">43kg</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">36</ul>
<ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">70D</ul></ul></ol>

<p style="background-color:lightgray;color:black;padding:1em;font-family:monospace;">&lt;ol style="display:block;width:36em;padding:0;margin:0;background-color:pink;"
    >&lt;ul style="display:block;width:36em;padding:0;margin:0;background-color:pink;"
>&lt;p style="font-style:italic;width:36em;color:black;font-weight:bold;text-align:center;padding:0.5em 0em;margin:0;">&lt;span style="font-size:20px;">A Little Bit About Valerie&lt;/span>&lt;/p>&lt;ul style="display:flex;flex-flow:row nowrap;background-color:pink;padding:0;width:36em;">
&lt;ul style="width:calc(100%/6);text-align:center;background-color:darkpink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">&nbsp;&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Age&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Height&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Weight&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Feet&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Bra&nbsp;Size&lt;/ul>
&lt;/ul
>&lt;ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;width:36em;">
&lt;ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0.2em;margin 0 auto;">US&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">23&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">5'1&quot;&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">95lbs&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">6&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">32D&lt;/ul>&lt;/ul>&lt;ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;width:36em;">
&lt;ul style="width:calc(100%/6);text-align:center;background-color:pink;color:black;font-weight:bold;padding:0.2em;margin 0 auto;">EU&lt;/ul>&lt;ul style="width:6em;text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">&nbsp;&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">155cm&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">43kg&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">36&lt;/ul>
&lt;ul style="width:calc(100%/6);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">70D&lt;/ul>&lt;/ul>&lt;/ol>

</p>

</ul>

<br/>

<!-- ==================================== -->
<!-- Smaller details block -->


<!-- 
   ###   VALERIES DETAILS
 -->

<ul style="display:block;width:36em;padding:0;margin:0;background-color:pink;"
><p style="font-style:italic;width:36em;color:black;font-weight:bold;text-align:center;padding:0.2em 0em;margin:0;"><span style="font-size:20px;">A Little Bit About Valerie</span></p><ul style="display:flex;flex-flow:row nowrap;background-color:pink;padding:0;width:36em;">
<ul style="width:calc(100%/5);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Age</ul>
<ul style="width:calc(100%/5);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Height</ul>
<ul style="width:calc(100%/5);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Weight</ul>
<ul style="width:calc(100%/5);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Feet</ul>
<ul style="width:calc(100%/5);text-align:center;background-color:pink;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Bra&nbsp;Size</ul>
</ul
><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;width:36em;">
<ul style="width:calc(100%/5);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">23</ul>
<ul style="width:calc(100%/5);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">5'1&quot;/155cm</ul>
<ul style="width:calc(100%/5);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">95lbs/43kg</ul>
<ul style="width:calc(100%/5);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">US6/EU36</ul>
<ul style="width:calc(100%/5);text-align:center;background-color:whitesmoke;color:black;padding:0;padding:0.2em;margin 0 auto;">32D/70D</ul></ul></ul>

<!-- ============================= -->
 
<br/>


<h1 style="color:pink;border-style:groove;border-color:pink;border-width:3px;padding:0.2em 1em 0.2em 1em;
">Affiliate Link: Copy and Paste Approach</h1>

<p>https://chaturbate.com/in/?tour=LQps&campaign=MX6G2&track=default&room=clickclicktap</p>

<p>Here's the code for how you need to put it in your own page. Naturally, you'll update that with your own affiliate link.</p>

<p style="background-color:lightgray;color:black;padding:1em;font-family:monospace;">&lt;p&gt;https://chaturbate.com/in/?tour=LQps&campaign=MX6G2&track=default&room=clickclicktap&lt;/p&gt;</p>

<p>Here's the code for that squared-off, outlined headline:</p>
<p style="background-color:lightgray;color:black;padding:1em;font-family:monospace;">&lt;h1 style="color:pink;border-style:groove;border-color:pink;border-width:3px;padding:0.2em 1em 0.2em 1em;
"&gt;Affiliate Link: Copy and Paste Approach&lt;/h1&gt;</p>

<h2 style="background-color:pink;color:black;border-radius:15px;padding:1em 1em 1em 1em;width:fit-content;">This Image Link Works</h2>
<a href="http://bigmarv.net" target="_blank" rel=”nofollow”><img src=”http://bigmarv.net/homepage/screenshot-swingmq.png” style=”width:128px;height:128px;” target=”_blank” rel=”nofollow” /></a>

<p>Here's the code for  the link to another web page</p>
<p style="background-color:lightgray;color:black;padding:1em;font-family:monospace;">&lt;a href="http://bigmarv.net" target="_blank" rel=”nofollow”&gt;&lt;img src=”http://bigmarv.net/homepage/screenshot-swingmq.png” style=”width:128px;height:128px;” target=”_blank” rel=”nofollow” /&gt;&lt;/a&gt;
</p>

<p>And here's the code for that rounded, black-on-pink headline</p>
<p style="background-color:lightgray;color:black;padding:1em;font-family:monospace;">&lt;h2 style="background-color:pink;color:black;border-radius:15px;padding:1em 1em 1em 1em;width:fit-content;">This Image Link Works&lt/h2&gt;
</p>
<p style="padding:0;" rel="nofollow" target="_blank"><a  href="https://www.chaturbate.com/in/?tour=LQps&amp;campaign=MX6G2&amp;track=default&amp;room=clickclicktap" rel="nofollow" target="_blank"><span style="color:deeppink;">Create A New Account Just For Me</span></a></p>


<!--
   ## Why can't i get Twitter to work? 
   ## It's gotta be because I'm not verified, right?
-->
<ol style="background-color:lightblue;">
<p style="color:black;">I gotta believe the reason my Twitter link doesn't work is because my account isn't verified.</p>
<p><a href=”https://twitter.com/BitterMarv” target=”_blank” rel=”nofollow”><img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png"  style=”width:64px;height:64px;”/></a></p>

<p><a style="color:black;" href=”https://twitter.com/BitterMarv” target=”_blank” rel=”nofollow”>Follow me on Twitter</a></p> 
</ol>

<ul style="border:4px pink dashed;">
<li style="line-height:20%;color:lightgreen;">Check This out</li>
<li style="line-height:20%;color:orange;">I can do a bulleted list</li>
<li style="line-height:20%;color:purple;">Dashed outline, too.</li>
<li style="line-height:20%;color:cyan;">Ooooh, the colors!</li>
</ul>

<p>The code for the bulleted list.  You can see that the lines are tight together.</p>
<p style="background-color:lightgray;color:black;padding:1em;"><span style="font-family:monospace;">&lt;ul style="border:4px pink dashed;">
&lt;li style="line-height:20%;color:lightgreen;">Check This out&lt;/li>
&lt;li style="line-height:20%;color:orange;">I can do a bulleted list&lt;/li>
&lt;li style="line-height:20%;color:purple;">Dashed outline, too.&lt;/li>
&lt;li style="line-height:20%;color:cyan;">That might be useful for some things&lt;/li>
&lt;/ul>
</span></p>

<ol style="border:3px pink solid;border-radius:15px;background-color:pink;width:fit-content;">
<li style="color:black;">And here we have...</li>
<li style="color:black;">A numbered list</li>
<li style="color:black;">Just assuming you like pink</li>
<li style="color:black;">Kinda neat, ain't it?</li>
</ol>

<p>Code for the ordered list:</p>
<p style="background-color:lightgray;color:black;padding:1em;font-family:monospace;">&lt;ol style="border:3px pink solid;border-radius:15px;background-color:pink;width:fit-content;">
&lt;li style="color:black;">And here we have...&lt;/li>
&lt;li style="color:black;">A numbered list&lt;/li>
&lt;li style="color:black;">Just assuming you like pink&lt;/li>
&lt;li style="color:black;">Kinda neat, ain't it?&lt;/li>
&lt;/ol>
</p>

<a href="https://chaturbate.com/?tour=LQps&amp;disable_sound=0&amp;join_overlay=1&amp;campaign=FHBod&amp;room=sunshine13_" rel="nofollow" style="display:flex;text-decoration:none" target="_blank"><img rel="nofollow" src="https://camo.mmcdn.com/9c93845a530a90318123a9c22ed6608811153305/68747470733a2f2f692e6962622e636f2f46444a74365a642f4361742d7265662e676966" style="display:block;object-fit:contain;width:350px;height:350px" target="_blank"></a>



<ol style="border:1px cyan solid;">

<ul style="width:36em;border:2px pink solid;border-radius:10px; background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxhEwzpHgqDLuL4JmOw6aJ43iSOAPNx_aBCQ&usqp=CAU');background-repeat: no-repeat;
  background-attachment:local;
  background-size:50%,contain;">

<p><span style="color:deeppink;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</span></p>
<p><span style="color:hotpink;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</span></p>
<p><span style="color:red;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</span></p>

</ul>

</ol>