


<ol style="display:flex;justify-content:center;background-color:pink;padding:1vw 0;width:auto;margin:0;"
><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
><h1 style="font-size:200%;font-style:italic;font-weight:bold;color:pink;">Tips</h1><ul 
style="max-height:14vw;overflow:auto;"
><ul style=" list-style-type: none">

    <li>13 - Answer a vanilla question</li>
    <li>25 - Tell me I'm beautiful</li>
    <li>28 - Flex biceps</li>
    <li>31 - Answer a sexy question</li>
    <li>40 - Play your choice of music</li>
    <li>50 - Tell me I'm hot</li>
    <li>66 - Drink water</li>
    <li>68 - Socks on/off</li>
    <li>70 - Show legs</li>
    <li>77 - Fap tax</li>
    <li>85 - Show feet</li>
    <li>88 - Boob play (hands over top)</li>
    <li>99 - PM you</li>
    <li>105 - Draw anything you want</li>
    <li>125 - Show you my panties</li>
    <li>221 - Show booty</li>
    <li>222 - Show boobs</li>
    <li style="background-color:lightpink;">251 - My favorite buzz ;)</lil>
    <li>255 - Dick rate (1-10)</li>
    <li>299 - Dick rate (1-10 + paragraph)</li>
    <li>321 - Buy me a drink <3</li> 
    <li>322 - Oil boobs/ass</li>
    <li>333 - Control my Lush/Domi (1 min)</li>
    <li>336 - Rub pussy over panties</li>
    <li>400 - Dildo blowjob</li>
    <li>567 - Buy me dinner <3</li> 
    <li>669 - Topless (5 mins)</li>
    <li>999 - Naked (5 mins)</li>
</ul>
    
</ul></ul></ol>

