<ol style="display:flex;width:90%;padding:1vw 1vw;margin:0;background:linear-gradient(pink,white);border-radius:1vw;"
    


><ol style="flex:1;width:40vw;"
><ol style="display:flex;justify-content:center;background-color:pink;padding:1vw 0;width:auto;margin:0;"
><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
><h1 style="font-size:200%;font-style:italic;font-weight:bold;color:pink;">Welcome to My Room!</h1><p 
style="color:black;padding:0.4vw 0;"
>My name is <span style="color:black;font-style:bold;"
>V</span>alerie, but my friends call me <span style="color:black;font-style:bold;"
>V</span>al. I&rsquo;m a full-time student and am currently on summer break enjoying my time out of class.</p><p
style="color:black;padding:0.4vw 0;">I&rsquo;m here to have fun as I work my way through university.</p><p
style="color:black;padding:0.4vw 0;">Feel free to join me in public chat, or we can go private if you&rsquo;d like. I hope you enjoy your time here! <span style="color:pink;font-style:bold;"
>:-)</span></p></ul></ol>







<ol style="display:flex;justify-content:center;background-color:pink;padding:1vw 0;width:auto;margin:0;"
><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
><ul style="display:block;padding:0;margin:0;background-color:whitesmoke;"
><h1 style="font-size:200%;font-style:italic;font-weight:bold;color:pink;text-align:left;padding:0.5em 0em;margin:0;"
>A Little Bit About Valerie</h1><ul style="display:flex;flex-flow:row nowrap;padding:0;border-bottom:2px solid pink;">
<ul style="width:calc(100%/13*1);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;"> </ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Age</ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Height</ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Weight</ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Feet</ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;">Bra Size</ul>
</ul
><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;">
<ul style="width:calc(100%/13*1);text-align:center;border-right:2px solid pink;background-color:whitesmoke;color:black;font-weight:bold;padding:0.2em;margin 0 auto;">US</ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">23</ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">5'1"</ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">95lbs</ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">6</ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">32D</ul></ul><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0; ">
<ul style="width:calc(100%/13*1);text-align:center;border-right:2px solid pink;color:black;font-weight:bold;padding:0.2em;margin 0 auto;">EU</ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black; padding:0.2em;margin 0 auto;"> </ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">155cm</ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">43kg</ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">36</ul>
<ul style="width:calc(100%/13*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">70D</ul></ul
></ul></ul></ol>




<ol style="display:flex;justify-content:center;background-color:pink;padding:1vw 0;width:auto;margin:0;"
><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
><h1 style="font-size:200%;font-style:italic;font-weight:bold;color:pink;">Tip Menu</h1><ul 
style="max-height:14vw;overflow:auto;"
><ul style="list-style-type:none;color:black;"><li
    >9 - Wave at you</li><li
    >13 - Answer a vanilla question</li><li
    >25 - Tell me I'm beautiful</li><li
    >28 - Flex biceps</li><li
    >31 - Answer a sexy question</li><li
    >40 - Play your choice of music</li><li
    >50 - Tell me I'm hot</li><li
    >66 - Drink water</li><li
    >68 - Socks on/off</li><li
    >70 - Show legs</li><li
    >77 - Fap tax</li><li
    >85 - Show feet</li><li
    >88 - Boob play (hands over top)</li><li
    >99 - PM you</li><li
    >105 - Draw anything you want</li><li
    >125 - Show you my panties</li><li
    >221 - Show booty</li><li
    >222 - Show boobs</li><li
    ><span style="background-color:#ffe4e1;">251 - My favorite vibration ;)</span></li><li
    >255 - Dick rate (1-10)</li><li
    >299 - Dick rate (1-10 + paragraph)</li><li
    >321 - Buy me a drink <3</li><li
    >322 - Oil boobs/ass</li><li
    >333 - Control my Lush/Domi (1 min)</li><li
    >336 - Rub pussy over panties</li><li
    >400 - Dildo blowjob</li><li
    >567 - Buy me dinner <3</li><li 
    >669 - Topless (5 mins)</li><li
    >999 - Naked (5 mins)</li>
</ul></ul></ul></ol>

 

<ol style="display:flex;justify-content:center;background-color:pink;padding:1vw 0;width:auto;margin:0;"
><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
><h1 style="font-size:200%;font-style:italic;font-weight:bold;color:pink;"
>Private Shows</h1><p style="color:black;padding:0.4vw 0;"
>Just Me:  90tkn/min</p><p 
style="color:black;padding:0.4vw 0;">Let me see you: 150tkn/min (C2C)</p><p 
style="color:black;padding:0.4vw 0;">Private shows are 15 minutes minimum. Send me a DM if you would like to schedule a private show outside of my broadcasting schedule.</p><p 
style="color:black;padding:0.4vw 0;text-align:center;">~~~</p><p 
style="color:black;padding:0.4vw 0;"
>Couples show by appointment only, 150tkn/min, 20 minute minimum.</p> </p></ul></ol>
         
 

<ol style="display:flex;justify-content:center;background-color:pink;padding:1vw 0;width:auto;margin:0;"
><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
><h1 style="font-size:200%;font-style:italic;font-weight:bold;color:pink;text-align:left;padding:1vw 0;margin: 0;"
    >Valerie's Schedule</h1><h2 style="font-size:110%;color:black;font-weight:bold;text-align:left;padding:0 1em 1vw 0;margin:0;"
    >Jun 11 - Jun 18</h2

    ><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
    ><ul style="width:calc(100%/10*2);text-align:center;border-right:2px solid pink;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
    >Sun</ul
    ><ul style="width:calc(100%/10*8); background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
    >~7pm-3am</ul
    ></ul
    
    ><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
    ><ul style="width:calc(100%/10*2);text-align:center;border-right:2px solid pink;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
    >Mon</ul
    ><ul style="width:calc(100%/10*8); background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
    >Offline</ul
    ></ul
    
    ><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
    ><ul style="width:calc(100%/10*2);text-align:center;border-right:2px solid pink;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
    >Tue</ul
    ><ul style="width:calc(100%/10*8); background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
    >Offline</ul
    ></ul
    
    ><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
    ><ul style="width:calc(100%/10*2);text-align:center;border-right:2px solid pink;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
    >Wed</ul
    ><ul style="width:calc(100%/10*8); background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
    >~6pm-1am</ul
    ></ul
    
    ><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
    ><ul style="width:calc(100%/10*2);text-align:center;border-right:2px solid pink;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
    >Thu</ul
    ><ul style="width:calc(100%/10*8); background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
    >~6pm-1am</ul
    ></ul

    ><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
    ><ul style="width:calc(100%/10*2);text-align:center;border-right:2px solid pink;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
    >Fri</ul
    ><ul style="width:calc(100%/10*8); background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
    >~6pm-1am</ul
    ></ul

    ><ul style="display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
    ><ul style="width:calc(100%/10*2);text-align:center;border-right:2px solid pink;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
    >Sat</ul
    ><ul style="width:calc(100%/10*8); background-color:whitesmoke;color:black;padding:0.2em 1em;margin 0 auto;"
    >Offline</ul
    ></ul

    ><p style="text-align:center;padding:0.7em 0 0 0;margin:0;line-height:90%;"><span style="font-size:10px;font-style:italic;color:black;">Schedule subject to change. Check back often. All times Pacific</span></p
    
    ></ul></ol>
    
    



<ol style="display;flex;justify-content:center;background-color:pink;padding:1vw 0;width:auto;margin:0;"
><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
><h1 style="font-size:200%;font-style:italic;font-weight:bold;color:pink;"
>Book Club</h1><p style="color:black;padding:0.4vw 0;"
>Currently reading <i>Dark Matter</i> by Black crouch, ch. 1-6 (Started 6/1, completed by 6/15.) First book discussion on Thursday, 6/15.</p><p 
style="color:black;padding:0.4vw 0;"
>Next book: TBD</p><p
style="color:black;padding:0.4vw 0;">Recently finished <i>M*rder on the Orient Express</i> by Agatha Christie on 5/31.</p></ul></ol>
         

 

<ol style="display:flex;justify-content:center;background-color:pink;padding:1vw 0;width:auto;margin:0;"
><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
><h1 style="font-size:200%;font-style:italic;font-weight:bold;color:pink;"
>Wish List</h1><p style="color:black;padding:0.4vw 0;"
>Some of you have asked if I have a wishlist, and I do.  You can find me on Throne.</p><p 
style="color:black;padding:0.4vw 0;"
style="color:black;padding:0.4vw 0;"><a style="text-decoration:none;" href="https://throne.com/valerie_james3/wishlist"><span style="color:pink;">My Throne Wishlist</span></a> </p></ul></ol>
         

 

<ol style="display:flex;justify-content:center;background-color:pink;padding:1vw 0;width:auto;margin:0;"
><ul style="background-color:whitesmoke;padding:0;width:92%;margin:0 auto;padding:1vw 1vw;"
><h1 style="font-size:200%;font-style:italic;font-weight:bold;color:pink;"
>Become a Partner</h1><p style="color:black;padding:0.4vw 0;"
><p style="color:black;padding:0 0 1em 0;"
>Show me some extra support by creating an account with my special link. Here's how you can do that:</p
><ol style="background-color:whitesmoke;color:black;padding:0em 1em;margin:0;"
><li style="padding:0;margin:0;">Right click or tap and hold on the Chaturbate image below</li
><li style="padding:0;margin:0;">Choose "Open link in an incognito window"</li
><li style="padding:0;margin:0;">The Chaturbate home page will open</li
><li style="padding:0;margin:0;">Click or tap the orange "Sign up" button in the top right corner</li
><li style="padding:0;margin:0;">Create your new account.</li
></ol
><p style="padding:0.5em;"><a href="https://www.chaturbate.com/in/?tour=7Bge&campaign=MX6G2&room=valerie_james3" target="_blink" rel="nofollow"
><img style=”width:8vw;height:4vw;” src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Chaturbate_logo.svg/774px-Chaturbate_logo.svg.png?20220102033446" /></a
></p><p style="padding:0 0 0.6em 0;"><a style="text-decoration:none;"
href="https://www.chaturbate.com/in/?tour=7Bge&campaign=MX6G2&room=valerie_james3"><span
style="color:pink;">or right click on this link</span></a></p><p style="color:black;padding:0;margin;0;">Whenever you purchase and use tokens with this new account, I will receive 20% of that purchase. This helps me so much! Thank you!</p
></ul></ol>



<ol style="display:grid;justify-content:center;background-color:pink;padding:0;width:auto;margin:0;"
><a style="margin:0 auto;padding:1vw 1vw;" href="https://www.rulta.com/" target="_blank" rel="nofollow"
><img style="display:block;margin:0 auto;padding:0;width:100%;" src="https://rulta-images.s3.amazonaws.com/rulta-dmca-badge-1.jpg"></a
></ol></ol



><ol style="flex:1;max-width:310px;margin:0 1em;;padding:0 1em 0 1em;"><img 
    style="margin:0 auto;padding:1vw 1vw;width:292px;"
    src="http://bigmarv.net/images/woman-hand-holding-bra.png"/><br/><img 
    style="margin:0 auto;padding:1vw 1vw;width:292px;"
    src="http://bigmarv.net/images/woman-hand-holding-bra.png"/></ol
>

</ol>
