<ol style="width:82vw;font-size:2vw;line-height:1.4em;padding-left:0;margin 0 auto;">

 

<img style="border:solid 1vw #00A8E1; padding:0;margin:0 0 2vw 0;max-width:80vw;max-height:calc(80vw*1.294);min-width:80vw;min-height:calc(80vw*1.294);" src="http://bigmarv.net/images/data-sheet-valerie-james3.jpg">
   



    <ol style="display:flex;justify-content:center;background-color:#00A8E1;width:auto;padding:0;margin:0;"
    ><ul style="background-color:whitesmoke;width:100%;margin:1vw 1vw;padding:1vw 2vw;"
    ><h1 style="font-family:verdana,sans-serif;font-size:2.5vw;font-style:italic;font-weight:bold;color:#00A8E1;text-align:left;padding:1vw 0 2vw 0;margin:0;"
    >A Little Bit About Valerie <span style="font-style:normal">🌺</span></h1><ul
    style="display:block;padding:0;margin:0 auto;"><ul
    style="display:flex;flex-flow:row nowrap;padding:0;margin:0 auto;"><ul
    style="font-family:verdana,sans-serif;width:calc(100%/11);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;"> </ul><ul
    style="font-family:verdana,sans-serif;width:calc(100%/11*2);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;border-bottom:0.2vh solid #00A8E1;">Height</ul><ul
    style="font-family:verdana,sans-serif;width:calc(100%/11*2);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;border-bottom:0.2vh solid #00A8E1;">Weight</ul><ul
    style="font-family:verdana,sans-serif;width:calc(100%/11*2);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;border-bottom:0.2vh solid #00A8E1;">Feet</ul><ul
    style="font-family:verdana,sans-serif;width:calc(100%/11*2);text-align:center;color:black;padding:0;font-weight:bold;padding:0.2em;margin 0 auto;border-bottom:0.2vh solid #00A8E1;">Bra Size</ul></ul
    ><ul
    style="font-family:verdana,sans-serif;display:flex;flex-flow:row nowrap;padding:0;margin:0 auto;"><ul
    style="font-family:verdana,sans-serif; width:calc(100%/11);text-align:center;border-right:0.2vh solid #00A8E1;color:black;font-weight:bold;padding:0.2em;margin 0 auto;">US</ul><ul
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">5'1"</ul><ul
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">93lbs</ul><ul
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">6</ul><ul
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">32D</ul></ul><ul
    style="display:flex;flex-flow:row nowrap;padding:0;"><ul
    style="font-family:verdana,sans-serif; width:calc(100%/11);text-align:center;border-right:0.2vh solid #00A8E1;color:black;font-weight:bold;padding:0.2em;margin 0 auto;">EU</ul><ul
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">155cm</ul><ul
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">42kg</ul><ul
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">36</ul><ul
    style="font-family:verdana,sans-serif; width:calc(100%/11*2);text-align:center;color:black;padding:0;padding:0.2em;margin 0 auto;">70D</ul></ul
    ></ul> </ul></ul></ol>




 
    <ol style="display:flex;justify-content:center;background-color:#00A8E1;width:auto;padding:0;margin:0"
    ><ul style="background-color:whitesmoke;width:100%;margin:1vw 1vw;padding:1vw 2vw;"
    ><h1 style="font-family:verdana,sans-serif;font-size:2.5vw;font-style:italic;font-weight:bold;color:#00A8E1;padding:0;margin:1vw 0 2vw 0;"  
        >Valerie's Schedule <span style="font-style:normal;">📆</span></h1><h2 style="font-size:2vw;color:black;font-weight:bold;text-align:left;padding:0 0 1vw 0;margin:0;"
        >Sep 22 - Sep 29</h2
   
        ><ul style="font-family:verdana,sans-serif;display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul style="width:calc(100%/10*1);text-align:center;border-right:0.2vh solid #00A8E1;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
        >Sun</ul
        ><ul style="width:calc(100%/10*9); background-color:whitesmoke;color:green;padding:0 1vw;margin 0 auto;"
        >Online</ul
        ></ul
   
        ><ul style="font-family:verdana,sans-serif;display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul style="width:calc(100%/10*1);text-align:center;border-right:0.2vh solid #00A8E1;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
        >Mon</ul
        ><ul style="width:calc(100%/10*9); background-color:whitesmoke;color:green;padding:0 1vw;margin 0 auto;"
        >Online</ul
        ></ul
   
        ><ul style="font-family:verdana,sans-serif;display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul style="width:calc(100%/10*1);text-align:center;border-right:0.2vh solid #00A8E1;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
        >Tue</ul
        ><ul style="width:calc(100%/10*9); background-color:whitesmoke;color:green;padding:0 1vw;margin 0 auto;"
        >Online</ul
        ></ul
   
        ><ul style="font-family:verdana,sans-serif;display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul style="width:calc(100%/10*1);text-align:center;border-right:0.2vh solid #00A8E1;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
        >Wed</ul
        ><ul style="width:calc(100%/10*9); background-color:whitesmoke;color:green;padding:0 1vw;margin 0 auto;"
        >Online</ul
        ></ul
   
        ><ul style="font-family:verdana,sans-serif;display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul style="width:calc(100%/10*1);text-align:center;border-right:0.2vh solid #00A8E1;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
        >Thu</ul
        ><ul style="width:calc(100%/10*9); background-color:whitesmoke;color:black;padding:0 1vw;margin 0 auto;"
        >-</ul
        ></ul
   
        ><ul style="font-family:verdana,sans-serif;display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul style="width:calc(100%/10*1);text-align:center;border-right:0.2vh solid #00A8E1;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
        >Fri</ul
        ><ul style="width:calc(100%/10*9); background-color:whitesmoke;color:black;padding:0 1vw;margin 0 auto;"
        >-</ul
        ></ul
   
        ><ul style="font-family:verdana,sans-serif;display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul style="width:calc(100%/10*1);text-align:center;border-right:0.2vh solid #00A8E1;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
        >Sat</ul
        ><ul style="width:calc(100%/10*9); background-color:whitesmoke;color:black;padding:0 1vw;margin 0 auto;"
        >-</ul
        ></ul
   
        ><ul style="font-family:verdana,sans-serif;display:flex;flex-flow:row nowrap;background-color:whitesmoke;padding:0;"
        ><ul style="width:calc(100%/10*1);text-align:center;border-right:0.2vh solid #00A8E1;color:black;font-weight:bold;padding:0 0.2vw;margin 0 auto;"
        >Sun</ul
        ><ul style="width:calc(100%/10*9); background-color:whitesmoke;color:black;padding:0 1vw;margin 0 auto;"
        >-</ul
        ></ul
        ><p style="text-align:left;padding:0.7em 0 0 0;margin:0;line-height:90%;"><span style="font-size:1.2vw;font-style:normal;color:black;line-height:1vw;"
            >Schedule subject to change. Check back regularly for updates. Send me a direct message (DM) if you would like to meet outside of my scheduled broadcasting times.</span></p
        ></ul></ol>
     
     
     
     



    <ol style="display:flex;justify-content:center;background-color:#00A8E1;width:auto;margin:0;padding:0;"
    ><ul style="background-color:whitesmoke;width:100%;margin:1vw 1vw;padding:1vw 2vw;"
    ><h1 style="font-family:verdana,sans-serif;font-size:2.5vw;font-style:italic;font-weight:bold;color:#00A8E1;padding:1vw 0 2vw 0 ;margin:0;"
    >Tip Menu <span style="font-style:normal;">✨</span></h1><ul
    style="max-height:16vw;overflow:auto;margin:0 auto 1vh 0;padding:1vh 0.5vw;background-color:#e7fff9;border:2px solid #00A8E1;font-size:1.4vw;line-height:1.6vw;color:black;list-style-type:none;"><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">5</span>Say "Hi!" 😄</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">8</span>Answer a vanilla question</li><li
    ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">13</span>Skip song</li><li  
    ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">14</span>Don't stop</li><li  
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">15</span>Outfit appreciation</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">16</span>Simp tax</li><li
 ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">17</span>Fap tax</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">20</span>Tell me I'm beautiful 💋</li><li  
    ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">21</span>Booty appreciation</li><li  
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">22</span>Titty appreciation</li><li  
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">25</span>Thumbs up 👍🏼</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">28</span>Answer a sexy question</li><li      
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">30</span>Spank x 1</li><li  
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">32</span>Spank with paddle x 1</li><li  
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">50</span>Tell me I'm hot 🔥</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">55</span>Sorry Val, my hands are busy right now 👋</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">60</span>Suck fingers</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">66</span>Drink water</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">70</span>Show legs</li><li
><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">72</span>Tease nipples</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">85</span>Show feet</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">88</span>Boob play (hands over top)</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">100</span>Appreciation for my stream</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">122</span>Val's permission to cum</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">123</span>Count down</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">125</span>Show you my panties</li><li
 ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">195</span>Show booty</li><li
 ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">200</span>Contribute to my happiness</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">222</span>For your Princess 💖</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">225</span>Oil butt/legs/feet</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">299</span>Dick rate (PM)</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">320</span>Show boobs</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">330</span>Grind on pillow</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">333</span>Control my toy (3 min)</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">369</span>Rub pussy over panties</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">375</span>Oil boobs</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">444</span>Put on a bikini 👙</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">469</span>Play with pussy under panties</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">495</span>Open your cam (5 mins)</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">500</span>Take my money, Val</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">555</span>Handjob</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">777</span>Blowjob</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">1000</span>Valerie Appreciation 🩷</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">1234</span>Get naked</li><li
        ><span style="display:inline-block;width:3vw;text-align:right;padding:0 1vw;">2222</span>Make my day</li></ul><p style="text-align:left;padding:0.2em 0 0 0;margin:0;line-height:90%;"><span style="font-size:1.2vw;font-style:normal;color:black;"
            >Type <span style="font-family:monospace;">/tipmenu</span> in chat to see the latest, up-to-date menu.</span></p</ul></ul></ol>
  

             
   
   
   
    <ol style="display:flex;justify-content:center;background-color:#00A8E1;width:auto;padding:0;margin:0"
    ><ul style="background-color:whitesmoke;width:100%;margin:1vw 1vw;padding:1vw 2vw;"
    ><h1 style="font-family:verdana,sans-serif;font-size:2.5vw;font-style:italic;font-weight:bold;color:#00A8E1;padding:0;margin:1vw 0 2vw 0;"  
    >Private Shows <span style="font-style:normal;">🍾</span></h1
    ><p style="font-family:verdana,sans-serif;color:black;padding:0 3vh 0 0;margin:0 0 1vh 0;"
    ><b>Private shows</b> are 150 tokens per minute and require a minimum commitment of 15 minutes.</p><p
    style="font-family:verdana,sans-serif;color:black;padding:0 1vh 0 0;margin:0 0 1vh 0;"
    ><b>Couples shows</b> with my male partner are 240 tokens per minute and require a 20 minute minimum time commitment. These special shows must be arranged in advance.</p
    ><p style="font-family:verdana,sans-serif;color:black;padding:0 3vh 0 0;margin:0 0 1vh 0;"
    >Send me a direct message (DM) if you would like to schedule a private show outside of my scheduled broadcasting times.</p><p
       
    ></ul></ol>
   



 
             
   
  <ol style="display:flex;justify-content:center;background-color:#00A8E1;width:auto;padding:0;margin:0;"
    ><ul style="background-color:whitesmoke;width:100%;margin:1vw 1vw;padding:1vw 2vw;"
    ><h1 style="font-family:verdana,sans-serif;font-size:2.5vw;font-style:italic;font-weight:bold;color:#00A8E1;padding:0;margin:1vw 0 2vw 0;"
    >Book Club <span style="font-style:normal;">📚</span></h1
    ><ul style="margin:0; padding-inline-start:4vw;"
    ><li style="font-family:verdana,sans-serif;color:black;padding:0;margin:0 -0 1vh 0;list-style-type:'📖 ';"
    >Currently reading <i><b>The Hitchhiker's Guide to the Galaxy</b></i> by Douglas Adams (Novel).  Discussion: Full book, October 16, 2024.</li
    ><li style="font-family:verdana,sans-serif;color:black;padding:0;margin:0 0 1vh 0;list-style-type:'📕 ';"
    >Next book:   TBD</li
    ><li style="font-family:verdana,sans-serif;color:black;padding:0;margin:0 0 1vh 0;list-style-type:'📚 ';"
    >Previously read:<i>The Secret History</i> by Donna Tartt (Aug 2024), <i>Algorithms to Live By: The Computer Science of Human Decisions</i> by Brian Christian and Thomas Griffiths (April 2024), <i>Fahrenheit 451</i> by Ray Bradbury (Mar 2024), <i>Circe</i> by Madeline Miller (Feb 2024), <i>Why We Sleep</i> by Matthew Walker (Dec 2023), <i>Dark Matter</i> by Blake Crouch (July 2023), and <i>M*rder on the Orient Express</i> by Agatha Christie (May 2023).</li></ul></ul></ol>
             





   
    <ol style="display:flex;justify-content:center;background-color:#00A8E1;width:auto;padding:0;margin:0"
    ><ul style="background-color:whitesmoke;width:100%;margin:1vw 1vw;padding:1vw 2vw;"
    ><h1 style="font-family:verdana,sans-serif;font-size:2.5vw;font-style:italic;font-weight:bold;color:#00A8E1;padding:0;margin:1vw 0 2vw 0;"
    >Wish List <span style="font-style:normal;">🛍️</span></h1><p
    style="font-family:verdana,sans-serif;color:black;padding:0;margin:0 0 1vh 0;"
    >Some of you have asked if I have a wishlist, and I do.  You can find me on Throne.</p><p
    style="font-family:verdana,sans-serif;color:black;padding:0;margin:0 0 1vh 0;"><a style="text-decoration:none;" href="https://throne.com/valerie_james3/wishlist"><span style="font-family:verdana,sans-serif;color: #00A8E1;font-weight:bold;">My Throne Wishlist</span></a></p></ul></ol>
   
   
   







    <ol style="display:flex;justify-content:center;background-color:#00A8E1;width:auto;padding:0;margin:0"
    ><ul style="background-color:whitesmoke;width:100%;margin:1vw 1vw;padding:1vw 2vw;"><h1 style="font-family:verdana,sans-serif;font-size:2.5vw;font-style:italic;font-weight:bold;color:#00A8E1;padding:0;margin:1vw 0 2vw 0;">Highest Tippers <span style="font-style:normal;">👑</span></h1><ul
style="text-align:left;font-weight:bold;color:black; border-bottom:#00a8e1 solid 0.2vh;margin:0;padding:0.2vw 0.1vw">Highest Single Tips</ul><ul

style="list-style-position:inside;color:black;margin:0;padding:1vw 1vw;"><p style="margin:0;padding:0;"
>1. kiotone - 10,000 tokens</p><p style="margin:0;padding:0;"
>2. anon_tips - 2,222 tokens</p><p style="margin:0;padding:0;"
>2. ftcj - 2,222 tokens</p></ul><ul

style="text-align:left;font-weight:bold;color:black; border-bottom:#00a8e1 solid 0.2vh;margin:0;padding:0.2vw 0.1vw">Highest Single Show Tipper</ul><ul

style="list-style-position:inside;color:black;margin:0;padding:1vw 1vw;"><p style="margin:0;padding:0;"
>kiotone - 60,111 tokens</p></ul><ul



style="text-align:left;font-weight:bold;color:black; border-bottom:#00a8e1 solid 0.2vh;margin:0;padding:0.2vw 0.1vw">Highest Offline Tips</ul><ul

style="list-style-position:inside;color:black;margin:0;padding:1vw 1vw;"><p style="margin:0;padding:0;"
>1. creamknight_ - 2,500 tokens</p><p style="margin:0;padding:0;"
>2. steadfast4val - 1,000 tokens</p><p style="margin:0;padding:0;"
>3. clickclicktap - 600 tokens</p> </ul><ul

style="text-align:left;font-weight:bold;color:black; border-bottom:#00a8e1 solid 0.2vh;margin:0;padding:0.2vw 0.1vw">King  Tipper</ul><ul

style="list-style-position:inside;color:black;margin:0;padding:1vw 1vw;"><p style="margin:0;padding:0;"
>creamknight__</p></ul><p style="text-align:left;padding:0.7em 0 0 0;margin:0;line-height:90%;"><span style="font-size:1.2vw;font-style:normal;color:black;"
            >All tips are greatly appreciated, regardless of the amount! 🙌</p</ul></ol>




    <a style="margin:0 auto;padding:0;max-width:82vw;" href="https://www.rulta.com/"
    ><img style="border:solid 1vw #00A8E1;padding:0;margin:0;max-width:80vw;max-height:calc(80vw*0.707);min-width:80vw;min-height:calc(80vw*0.707);" src="https://www.rulta.com/images/cdn/dmca-badges/rulta-dmca-badge-1.jpg"
    ></a>


     
    </ol>